<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ei_Dimension.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ei_Dimension.Settings>
      <setting name="SystemControl" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultMap" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Everyevent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RMeans" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlateReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveFileName" serializeAs="String">
        <value>BeadAssay</value>
      </setting>
      <setting name="EndRead" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="XAxisG" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="YAxisG" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScatterGraphSelector" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="MinPerRegion" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="BeadsToCapture" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="StepsPerRevX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="StepsPerRevY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="StepsPerRevZ" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SensitivityChannelB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxPressure" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LastTemplate" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="OnlyClassifed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XYCutOff" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SuppressWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TouchMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VerificationWarningIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LastOutFolder" serializeAs="String">
        <value>NULL</value>
      </setting>
      <setting name="SubtractBaseline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReporterScaling" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ValidatorToleranceReporter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ValidatorToleranceClassification" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ValidatorToleranceMisclassification" serializeAs="String">
        <value>10</value>
      </setting>
    </Ei_Dimension.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>None</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>