<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ei_Dimension.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ei_Dimension.Settings>
      <setting name="systemControl" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LISdirPath" serializeAs="String">
        <value>MyDocuments</value>
      </setting>
      <setting name="subtregbg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DirPath" serializeAs="String">
        <value>MyDocuments</value>
      </setting>
      <setting name="defaultMap" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="compensation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sampleSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="everyevent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="rmeans" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pltrept" serializeAs="String">
        <value>True</value>
      </setting>
    </Ei_Dimension.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>None</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>